[submodule "ext/storyjs"]
	path = ext/storyjs
	url = git@github.com:sparecycles/storyjs.git
[submodule "ext/coffee-script"]
	path = ext/coffee-script
	url = git://github.com/sparecycles/reflect.git
[submodule "ext/reflect"]
	path = ext/reflect
	url = git://github.com/sparecycles/reflect.git
[submodule "ext/focalmatter"]
	path = ext/focalmatter
	url = https://github.com/sparecycles/focalmatter.git
