[submodule "ext/storyjs"]
	path = ext/storyjs
	url = git@github.com:adam-f/storyjs.git
[submodule "ext/reflect"]
	path = ext/reflect
	url = git://github.com/adam-f/reflect.git
[submodule "ext/coffee-script"]
	path = ext/coffee-script
	url = https://github.com/jashkenas/coffee-script.git
[submodule "ext/focalmatter"]
	path = ext/focalmatter
	url = https://github.com/adam-f/focalmatter.git
