- uses :story
- uses :template
- uses :prettify

- content_for :import_javascripts do
  storyjs/story/litijs 
- content_for :import_stylesheets do
  storyjs/litijs
 
-# vim: set sw=2 ts=2 expandtab :
