#content {
  width: 960px;
  overflow: hidden;
}

body {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  padding: 0 3px;
  font-family: sans-serif;
  margin: auto;
}

.large-font {
  font-size: 1.5em;
}

body.loaded {
  width: 960px;
  background-color: #332233;
  color: #CCDDCC;
  background-color: #332233;
}

body.loaded h1 {
  width: 500px;
}

p {
  color: #CDC;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
}

p:hover {
  color: #EEFFEE;
}

h1 {
  width: 500px;
  font-size: 2em;
  border: 2px solid #666;
  background-color: #636;
  color: #DED;
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
}
ul.nav {
  list-style: none;
  padding: 0;
}
.nav li {
  display: inline;
  border: 0; padding: 0; margin: 0;
}
.nav li a {
  margin: -3px;
  border: 2px solid #666;
  background-color: #636;
  color: #DED;
  padding: 5px 30px;
  text-decoration: none;
}
.nav li:first-child a {
  border-radius: 10px 0 0 10px;
  margin-left: 0px;
}
.nav li:last-child a {
  border-radius: 0 10px 10px 0;
}

pre.main-example {
  float: right;
  width: 650px;
  background: #DDC;
}

.connect4 {
  position: relative;
}

.connect4 .column {
  display: inline-block;
  width: 50px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.connect4 button {
  position: absolute;
  margin: 40px 40px;
  font-size: 1.7em;
  z-index: 1;
}

.connect4 .cell {
  display: block;
  height: 40px;
  margin: 3px;
  border: 2px solid black;
  position: relative;
}

.connect4 .cell .cell-content.red {
  position: absolute;
  border: 20px solid red;
  height: 0px;
  border-radius: 20px;
}

.connect4 .cell .cell-content.blue {
  position: absolute;
  border: 20px solid blue;
  height: 0px;
  border-radius: 20px;
}

a { color: white }
a:visited { color: #CCC }
