body {
  background: black;
}

.slide .from,
.slide .to { display: none }
.slide {
  border-bottom: 1px solid #222;
  border-top: 1px solid #777;
  font-size: 3em;
  font-family: sans-serif;
  background-color: #344;
  color: #DDF;
}

.slide-content {
  width: 100%;
  padding: 0 10%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.slide-content ul,.slide-content ol {
  font-size: .5em;
  width: 40%;
}

.slide-content li {
  text-align: left;
  position: relative;
  left: 60%;
}

.slide:first-child { border-top: none; }
.slide:last-child { border-bottom: none; }

.timeline-container {
  top: -100px;
  position: fixed;
  -webkit-transition: top, opacity;
  -webkit-transition-duration: 0.7s;
  -moz-transition: top, opacity;
  -moz-transition-duration: 0.7s;
  -o-transition: top, opacity;
  -o-transition-duration: 0.7s;
}

.timeline {
  left: 0;
  color: white;
  white-space: nowrap;
  position: relative;
}

.timeline .tick {
  display: inline-block;
  position: absolute;
  top: -3ex;
}

.timeline .tick .year {
  position: relative;
  left: -50%;
} 

.timeline.background {
  opacity: 0.5;
  background-color: lightgreen;
  padding-bottom: 30px;
}
.timeline .indicator {
  position: absolute;
  background-color: white;
  top: -4ex;
  height: 4px;
  left: 0%;
  right: 0%;
  -webkit-transition-property: left, right;
  -webkit-transition-duration: 1s;
  -moz-transition-property: left, right;
  -moz-transition-duration: 1s;
  -o-transition-property: left, right;
  -o-transition-duration: 1s;
}

.timeline .indicator .start {
  display: inline;
  float: left;
  position: absolute;
  left: -4px;
  border-radius: 4px;
  border: 4px solid white;
  width: 0; height: 0;
}

.timeline .indicator .end {
  display: inline;
  float: right;
  position: relative;
  left: 4px;
  border-radius: 4px;
  border: 4px solid white;
  width: 0; height: 0;
}

a, a:visited {
  color: white;
}
