- link = lambda do |text, href|
  - capture_haml do
    %a{:href=>href}><
      = text

- uses :story
- uses :template

- content_for :import_stylesheets do
  style/index

- content_for :title do
  Welcome

- content_for :script do
  :plain
    jQuery(function($) {
      $('body').addClass('loaded');
      prettyPrint();
    });

%h1 Welcome
%p
  I am Adam Freidin.  An ex gamedeveloper turned webdeveloper living and
  working in sunny Santa Cruz.
%p
  I am always interested in hearing about jobs, 
  check out my #{link.call "resume", "/resume.html"}.
