- link = lambda do |text, href|
  - capture_haml do
    %a{:href=>href}><
      = text
- uses :template
- uses :story

- content_for :import_stylesheets do
  style/resume

- content_for :title do
  Resume of Adam

- content_for :style do
  :plain
    .tex-e {
      position: relative;
      top: .5ex;
      left: -.1667em;
      margin-right: -.25em;
    }

- content_for :script do
  :plain
    jQuery(function($) {
      $(window).resize(function(){
        $('.slide').css({
         'height' : $(window).height() 
        });

        $('.slide-content').css({
         'width' : $('body').width(),
         'height' : $(window).height()
        })

        $('.timeline').css({
         'width' : $('body').width()
        });
      }).resize();

      $('a').click(function(event) {
        event.stopPropagation();
      });

      $('.slide').live('click', function() {
        var next_slide = $(this).next('.slide');
        if(next_slide.length) {
          $('html,body').stop(true, true).animate({
            scrollTop: next_slide.eq(0).offset().top
          }, 'slow');
        }
      });

      $(window).scroll(function(ev) {
        var slides = $('.slide');
        var scrollTop = $(window).scrollTop();
        for(var slide_index = 0; slide_index < slides.length; slide_index++) {
          var slide = slides.eq(slide_index);
          var middle = slide.offset().top + slide.height()/2;
          if(middle > scrollTop) {
            break;
          }
        }
        var slide = slides.eq(slide_index);
        var t_start = 1980;
        var t_end = 2015;
        var t_scale = 100/(t_end-t_start);
        var t_from = Number($('.from', slide).text());
        var t_to = Number($('.to', slide).text());
        if(t_from && t_to) {
          $('.timeline-container').css({
            top: "0px"
          });
        } else {
          $('.timeline-container').css({
            top: "-80px"
          });
          t_from = 1970;
          t_to = 2020;
        }
        $('.timeline .indicator').css({
          left: ((t_from || 1982) - t_start)*t_scale + "%",
          right: (t_end - (t_to || 2010))*t_scale + "%"
        }); 
      }).scroll();
    });

.timeline-container
  .timeline.background
  .timeline
    .indicator
      .start
      .end
    -#.tick{:style=>"left:0%"}
    -#  .year 1980
    .tick{:style=>"left:14.28%"}
      .year 1985
    .tick{:style=>"left:28.56%"}
      .year 1990
    .tick{:style=>"left:42.84%"}
      .year 1995
    .tick{:style=>"left:57.12%"}
      .year 2000
    .tick{:style=>"left:71.40%"}
      .year 2005
    .tick{:style=>"left:85.68%"}
      .year 2010
    -#.tick{:style=>"left:100%"}
    -#  .year 2020

- content_for :style do
  :plain
    img.mouse {
      position: absolute;
      left: 3%;
      top: 3%;
    }
.slide
  .slide-content
    My name is Adam Freidin
    %img.mouse{:src=>"mouse.png"}

.slide
  .from 1982
  .to 2012
  .slide-content
    I am a programmer.
    %br
    This is my resume.

.slide
  .from 1987
  .to 1992
  .slide-content
    %p I was introduced to computers when I was little...
    %img{:src=>"early.jpg"}

.slide
  .from 1992
  .to 1993
  .slide-content
    \...and started programming in Pascal when I was 10.

.slide
  .from 1996
  .to 2001
  .slide-content
    By the end of highschool I knew C (and C++), (and a
    really poorly implemented language I developed 
    because I didn't know that I couldn't), I was also really bad at T
    %span.tex-e>< E
    X, but I didn't know it then.

.slide
  .from 2001
  .to 2005
  .slide-content
    I went to UCSC and received a planned BA in Mathematics,
    and an unplanned BS in Computer Science.

.slide
  .from 2002
  .to 2005
  .slide-content
    At UCSC, I experienced more C, C++,
    ML, Lisp, Scheme, Prolog, SQL (and xQuery), PHP, and Java.
    I also had a small programming job doing both 
    server and client-side java.

.slide
  .from 2006
  .to 2009
  .slide-content
    I then worked at Santa Cruz Games right in 
    downtown Santa Cruz developing Video Games.
    I would say Embedded Systems, except it was fun.

.slide
  .from 2006
  .to 2008
  .slide-content
    I developed many different things there:
    %ul
      %li memory allocators,
      %li loading patterns,
      %li serializers,
      %li late 80's-type graphics engines,
      %li AI frameworks, and
      %li a localization framework.

-#.slide
-#  .from 2006
-#  .to 2009
-#  .slide-content
-#    I even developed a delta-loader for optimized transfer 
-#    to Sunplus development boards (for leapfrog).  We showed it to the 
-#    vendor and then it showed up in the next IDE revision.

.slide
  .from 2007
  .to 2009
  .slide-content
    We shipped lots of games,
    %ul
      %li Superman Returns (DS)
      %li Superman Returns - Fortress of Solitude (GBA) -- Highest rated superman game EVER
      %li Godzilla Double Smash (DS) -- Google: "The Worst DS Game Ever"
      %li Tombraider Underworld (DS)
      %li Spiderman v.s. the Masked Menace (Plug and Play)
      %li and more...

.slide
  .from 2008
  .to 2009
  .slide-content
    %p
      I was project lead on the Spiderman title:
    %p 
      I wrote the tool,
      the engine, the gameplay, the AI systems, and all the level scripting.
      Everything but the art and the audio system.  It was a great 9 months.

.slide
  .from 2007
  .to 2009
  .slide-content
    The tool for Spiderman relied upon my reflection system for C++
    which adds some dynamic features to the language.

.slide
  .from 2007.5
  .to 2009.5
  .slide-content
    We used SCons for the the build system,
    so I learned a little python too.

.slide
  .from 2010.5
  .to 2011
  .slide-content
    %p
      I also do photography.
      I have a few shots that made it into a local paper:
    %img{:src=>("dancers.jpg")}

.slide
  .from 2010.75
  .to 2011.3
  .slide-content
    %p
      I returned to Santa Cruz to work at 
      a rails startup called LineMonkey building 
      a Point&nbsp;of&nbsp;Sale running on HTML5.
    %p
      My job was to reimplement the public interface and
      the HTML5 web application Point of Sale

.slide
  .from 2011.5
  .to 2012
  .slide-content
    %p
      Now I'm taking a break to bring a few projects to light, such as
      "Story", a pattern for scripting.  And "reflect", the aforementioned C++ 
      reflection engine.

.slide
  .from 2012
  .to 2015
  .slide-content
    %p
      Thanks for reading, please contact me at 
      \#{link.call "adam.freidin@gmail.com", "mailto:adam.freidin@gmail.com"}
      with any questions, comments, or job offers.
    %p
      I also have a #{link.call "printable resume", "/paper_resume.html"}.

-# vim: set sw=2 ts=2 expandtab:
